<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{{root}}css/app.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>3SLab Tech Newsletter{{#isNotEmpty issue_number}} n°{{ issue_number }}{{/isNotEmpty}}</title>
    <!-- <style> -->
  </head>
  <body>
    <span class="preheader">{{description}}</span>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center>
            {{#isNotEmpty issue_number}}
              <a href="{{#linkToWeb issue_number date}}{{/linkToWeb}}">Voir dans le navigateur</a>
            {{/isNotEmpty}}
            <wrapper class="header">
              <container>
                <row class="collapse">
                  <columns small="3">
                    <img src="{{root}}assets/img/logo.png" width="147">
                  </columns>
                  <columns small="9">
                    {{#isNotEmpty issue_number}}
                    <p class="text-right">N°{{ issue_number }} - {{ date }}</p>
                    {{/isNotEmpty}}
                  </columns>
                </row>
              </container>
            </wrapper>

            {{> body}}

            <wrapper class="header">
              <container>
                <row class="collapse">
                  <columns small="2">
                  </columns>
                  <columns small="2">
                    <img src="{{root}}assets/img/connaitre.png" width="93" />
                  </columns>
                  <columns small="2">
                    <img src="{{root}}assets/img/concevoir.png" width="93" />
                  </columns>
                  <columns small="2">
                    <img src="{{root}}assets/img/construire.png" width="93" />
                  </columns>
                  <columns small="2">
                    <img src="{{root}}assets/img/deployer.png" width="93" />
                  </columns>
                  <columns small="2">
                  </columns>
                </row>
              </container>
            </wrapper>
          </center>
        </td>
      </tr>
    </table>
    <!-- prevent Gmail on iOS font size manipulation -->
   <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
  </body>
</html>

